<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset("imgs/8644645.jpg") }}" class="d-block w-100" alt="header">
        </div>
    </div>

</div>